imageio[ffmpeg]
numpy==1.26.4
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
h5py
scikit-learn
tensorflow
gsplat==1.4.0
torch==2.5.1
torchmetrics[image]==1.6.0
torchvision==0.20.1
pillow>=11.0.0
